root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{py,pyx,pxd,pyi}]
indent_size = 4
max_line_length = 120

[*.ini]
indent_size = 4

[*.rst]
max_line_length = 150

[Makefile]
indent_style = tab
