name: upload release to PyPI
on:
  release:
    types:
      - published

jobs:
  pypi-publish:
    name: upload release to PyPI
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 0
          fetch-tags: true

      - uses: actions/setup-python@v6.0.0
        with:
          python-version: 3.14

      - name: Install build
        run: |
          pip install setuptools-scm wheel

      - name: Build
        run: |
          python setup.py sdist bdist_wheel

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
